* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.instagram-phone {
    display: flex;
    align-items: center;
    
    width: 50%;
    
    opacity: 1;
}

#instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;

    position: relative;

    width: 630px;
    height: 600px;
}

.instagram-phone img {  
    width: 100%;
    height: 100%;
    margin-left: -90px;
    max-width: 65%;

    position: absolute;

    opacity: 0;
    transition: 800ms;
}

.instagram-phone img.selected {
    opacity: 1;
}

img.foto1 {
    width: 310px;
    margin-left: -50px;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;

    width: 55%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) { /*Pegando a primeira Classe de nome 'group' usada*/
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* media queries */

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 720px) {
    body {
        background-color: #ffffff
    }

    .instagram-wrapper {
        width: 60%
    }

    .instagram-phone { /*tirando a img do celular no modo mobile*/
        display: none;
    }

    .instagram-continue {
        width: 100%
    }
    
    .group {
        border: 1px solid transparent
    }
}